<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <partial name="Partial/_StylesPartial" />

    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="~/favicon.png" sizes="500x500">
</head>
<body>

<div id="wrapper">

    <partial name="Partial/_HeaderPartial" />

    <partial name="Partial/_LeftSiteBarPartial" />
    <div id="page-wrapper">
        @RenderBody()
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<partial name="Partial/_FooterPartial" />

<partial name="Partial/_ScriptsPartial" />

</body>
</html>
