@{
    ViewBag.Title = "Тестирование ajax";
}

<div class="container">
    <h1>@ViewBag.Title</h1>
    <hr/>
    
    <div class="row">
        <div class="col-md-3">
            <h4>Рендеринг на стороне сервера</h4>

            <a class="btn btn-default"
               data-ajax="true"
               data-ajax-url="@Url.Action("GetHtml", "Ajax", new { id = 11, message = "Привет мир", delay = 1000 })"
               data-ajax-loading="#spinner-server"
               data-ajax-update="#panel-server">Загрузить</a>
            
            <span id="spinner-server" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div id="panel-server"></div>
        </div>
        
        <div class="col-md-3">
            <h4>Рендеринг на стороне клиента</h4>

            <a class="btn btn-default">Загрузить</a>

            <span id="spinner-client" style="display: none">
                <i class="fa fa-spinner fa-spin"></i>
            </span>

            <div class="panel-client"></div>
        </div>
        
        <div class="col-md-3">
            <h4>Ручное формирование разметки</h4>
            
            <a class="btn btn-default">Загрузить</a>
            
            <div class="panel-js"></div>
        </div>
        
        <div class="col-md-3">
            <h4>Использование vue.js</h4>
            
            <a class="btn btn-default">Загрузить</a>
            
            <div class="panel-vue"></div>
        </div>
    </div>
</div>
