@{
    Layout = "_Layout";
}

<div class="container">

    <vc:bread-crumbs/>

    <div class="row">
        <div class="col-md-4">
            <div class="panel-group category-products">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a asp-action="Index">Профиль</a></h4>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a asp-action="Orders">Заказы</a></h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8">
            @RenderBody()
        </div>
    </div>
</div>
