<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-qrcode "></i>Главная страница</a>
            </li>
            <li class="active-link">
                <a asp-controller="Home" asp-action="Index"><i class="fa fa-desktop "></i>Обзорка <span class="badge">Новое</span></a>
            </li>
            <li>
                <a asp-controller="Product" asp-action="Index"><i class="fa fa-table "></i>Редактирование товаров <span class="badge">Новое</span></a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="SendEmail"><i class="fa fa-adjust"></i>Отправка Email сообщений пользователям</a>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Orders"><i class="fa fa-android"></i>Все заказы всех-всех пользователей</a>
            </li>
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->
