@model WebStore.WebModels.EditProductWebModel
@{
    ViewBag.Title = "Редактирование одного товара";
}

<div id="page-inner">
    <div class="row">
        <div class="col-lg-12">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Товар</h2>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Order" class="control-label"></label>
                    <input asp-for="Order" class="form-control" />
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <img src="~/images/shop/@Model.ImageUrl" alt="@Model.ImageUrl" height="200" />
                </div>

                <div class="form-group">
                    <label asp-for="SectionId" class="control-label"></label>
                    <select asp-for="SectionId" asp-items="ViewBag.Sections"></select>
                    <span asp-validation-for="SectionId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BrandId" class="control-label"></label>
                    <select asp-for="BrandId" asp-items="ViewBag.Brands"></select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="row form-group">
            <a asp-action="Index" class="btn btn-default">Назад к списку всех товаров</a>
        </div>
    </div>

</div>
