@model IEnumerable<string>
@{
    ViewBag.Title = "Web API тестового клиента";
}

<div class="container">
    
    <vc:bread-crumbs />

    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tbody>
        @{ var i = 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(i++)</td>
                <td>@item</td>
            </tr>
        }
        </tbody>
    </table>
</div>
