@{
    ViewBag.Title = "В доступе отказано";
}

<div class="container">
    <h1>@ViewBag.Title</h1>

    <p>
        <a asp-controller="Home" asp-action="Index">Возврат на главную</a>
    </p>
</div>
