<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Интернет-магазин Geekbrains</title>
</head>
<body>
    <h1>Интернет-магазин Geekbrains</h1>
    <hr />



</body>
</html>


