@{
    ViewBag.Title = "Область администратора";
}
<section>
    <div class="container">
        <p>Область администратора</p>

        <p>
            <a asp-area="" asp-controller="Home" asp-action="Index">Домой</a>
        </p>
    </div>
</section>
