<div class="mainmenu pull-left">
    <ul class="nav navbar-nav collapse navbar-collapse">
        <li><a my-active-route asp-controller="Home" asp-action="Index" >Главная</a></li>
        <li class="dropdown">
            <a my-active-route asp-controller="Catalog" asp-action="Index">Каталог<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a my-active-route asp-controller="Catalog" asp-action="Index">Каталог</a></li>
                <li><a my-active-route asp-controller="Home" asp-action="ProductDetails">О товаре</a></li>
                <li><a my-active-route asp-controller="Home" asp-action="Checkout">Оформить заказ</a></li>
                <li><a my-active-route asp-controller="Home" asp-action="Cart">Корзина</a></li>
                <li><a my-active-route asp-controller="Home" asp-action="Login">Вход</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a my-active-route asp-controller="Home" asp-action="Blog">Блог<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a my-active-route asp-controller="Home" asp-action="Blog">Блог</a></li>
                <li><a my-active-route asp-controller="Home" asp-action="BlogSingle">Первый блог магазина</a></li>
            </ul>
        </li>
        <li><a my-active-route asp-controller="Home" asp-action="Error">404</a></li>
        <li><a my-active-route asp-controller="Workers" asp-action="Index">Сотрудники</a></li>
        <li><a my-active-route asp-controller="Home" asp-action="ContactUs">Контакты</a></li>
        <li class="dropdown">
            <a href="#">Дополнительное<i class="fa fa-angle-down"></i></a>
            <ul role="menu" class="sub-menu">
                <li><a asp-controller="WebAPI" asp-action="Index" class="@IsActive("WebAPI")">WebAPI</a></li>
                <li><a my-active-route asp-controller="Ajax" asp-action="Index">Тестирование ajax</a></li>
            </ul>
        </li>
    </ul>
</div>

@functions
{
    string IsActive(string controller, string action = "Index") => 
        Equals(ViewContext.RouteData.Values["Controller"], controller) && Equals(ViewContext.RouteData.Values["Action"], action) 
            ? "active" : null;
}
