@model WebStore.Domain.WebModels.BreadCrumbsWebModel

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="active"><a asp-controller="Catalog" asp-action="Index">Каталог</a></li>
    </ol>
</div>
